1.	Write a Python program to convert kilometers to miles?

In [1]:
km = int(input('enter your kilometer '))
miles = km*0.621371
print(f'miles is ', miles)

enter your kilometer 20
miles is  12.42742

2.	Write a Python program to convert Celsius to Fahrenheit?

In [1]:
celsius = int(input('enter celsius that you want to convert into farhen : '))

fahrenheit = (celsius* 9/5)+ 32
print(f"celsius after convert into fahrenheit : ", fahrenheit)

enter celsius that you want to convert into farhen : 100
celsius after convert into fahrenheit :  212.0

3.	Write a Python program to display calendar?

In [11]:
import calendar

year = int(input("enter year "))
print(calendar.calendar(year))
# print(calendar.month(year,9))

enter year 2021
                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

4.	Write a Python program to solve quadratic equation?

In [5]:
import cmath

a = int(input("enter a (a!= 0)"))
b = int(input('enter value of b :'))
c = int(input('enter value of c :'))

d= (b**2)-(4*a*c)

equ1 = (-b-cmath.sqrt(d))/(2*a)
equ2 = (-b+cmath.sqrt(d)/(2*a))

if d>0:
    print("Two distinct roots")
elif d==0:
    print('Two equal roots ')
elif d<0:
    print("Two complex roots ")
    
print(f"solution are {equ1} and {equ2}")

enter a (a!= 0)5
enter value of b :-10
enter value of c :-3
Two distinct roots
solution are (-0.2649110640673518+0j) and (11.264911064067352+0j)

5.	Write a Python program to swap two variables without temp variable?

In [12]:
a = 5
b = 9 
a,b = b,a
print(a)
print(b)

9
5